.busqueda{
    display: flex;
    flex-direction: column;
    min-width: 70vw;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 48, 88)
}
.barra{
    width: 100%;
    height: 100%;
}