mat-card{
    padding: 3.5rem;
    max-width: 160px;
}

img{
    max-width: 100%;
    margin: 0 auto;
}

.header{
    color: rgb(15, 49, 49);
}

:host{
    mat-card{
        background-color: transparent;
    }
    
}