<mat-card *ngIf="pokemonUnico" >
    <mat-card-header class="header">
      <mat-card-title>{{pokemonUnico.name}}</mat-card-title>
      <!-- <mat-card-subtitle>{{pokemonUnico.id}}</mat-card-subtitle> -->
    </mat-card-header>
    <img 
    mat-card-image
     [src]="pokemonUnico.pic"
     [alt]="pokemonUnico.name"
     >

    <mat-card-actions>
      <button mat-raised-button color="warn">
        <mat-icon aria-hidden="false">favorite</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="handleClick(pokemonUnico)">Mas info</button>
    </mat-card-actions>
  </mat-card>
