@import "../../../../styles/base";

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 21vw;
    padding: 1rem;
    background-color: rgb(2, 48, 88);
    align-content: center;
    margin: 0 auto;
    margin-top: 5rem;
}

mat-form-field{
    padding: 0.5rem;
}


.btn-container{
    @include center;
}