<ng-container class="grid">
  <mat-grid-list cols="2" class="listado" rowHeight="403px">
    <mat-grid-tile>
  <mat-card
    class="card animate__animated animate__pulse"
    routerLink="/pokemon"
    routerLinkActive="active"
    style="background-color: #7394c9"
  >
    <mat-card-header class="header">
      <mat-card-title>Listado Pokemon</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../../../assets/pokedex.png"
      alt="Listado Pokemon"
    />
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card
    class="card animate__animated animate__pulse"
    routerLink="/equipo"
    routerLinkActive="active"
    style="background-color: #b173c9"
  >
    <mat-card-header class="header">
      <mat-card-title>Equipo Pokemon</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../../../assets/equipo.png"
      alt="Equipo Pokemon"
    />
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card
    class="card animate__animated animate__pulse"
    routerLink="/crear"
    routerLinkActive="active"
    style="background-color: #c97c73"
  >
    <mat-card-header class="header">
      <mat-card-title>Crear Pokemon</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../../../assets/crear.png"
      alt="Crear Pokemon"
    />
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
</ng-container>
